<h2 class=" title is-2">Menu des Tags</h2>
<div class="column">
  <table class="table operation-table">
    <thead>
      <tr>
        <th>Tag</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td *ngFor="let tag of tags"><a [routerLink]="['/tags',tag]">{{tag}}</a></td>
      </tr>
    </tbody>
  </table>
</div>