<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item " routerLink="">
      Budget Jones
    </a>
    <a *ngIf="connected === true" routerLink="budgets" class="navbar-item">
      Budgets
    </a>
    <a *ngIf="connected === true" routerLink="tagsMenu" class="navbar-item">
      Tags
    </a>
    <a *ngIf="connected === true" routerLink="admin" class="navbar-item">
      Administration
    </a>
  </div>
  <div class="navbar-end">
    <a *ngIf="connected === false" class="navbar-item" routerLink="subscribe">
      S'inscrire/Se connecter
    </a>
    <a *ngIf="connected === true" class="navbar-item" (click)="logout()">
      Deconnexion
    </a>
  </div>
</nav>