<form (ngSubmit)="onClick()">
  <input [(ngModel)]="updated.sum" name="sum" placeholder="Somme" type="number">
  <input [(ngModel)]="updated.description" name="description" placeholder="Description" type="text">
  <input [(ngModel)]="updated.date" name="date" placeholder="Date" type="text">
  <div *ngFor="let item of budgets">
    <input type="checkbox" name="{{updated.budgets}}" value="{{item}}" (change)="changeBudget(item)">
    <label>{{item.name}}</label>
  </div>
  <input [(ngModel)]="tagsUpdate" name="tagsUpdate" placeholder="tags" type="text">
  <input [(ngModel)]="updated.type" name="type" placeholder="type" type="text">
  <button>mise à jour</button>
</form>