<div class="columns has-text-centered">

  <button class="button showForm-btn " (click)="addButton = !addButton" *ngIf="addButton === false">Créer un budget</button>

  <div class="card" *ngIf="addButton === true">

    <form class="field">
      <input type="text" [(ngModel)]="newBudget.name" name="name" placeholder="nommer votre budget" class="input">
      <input type="numb" [(ngModel)]="newBudget.sum" name="sum" placeholder="allouer une somme" class="input">

      <button class="button submit-btn" (click)="addButton = !addButton; onClick()">Créer</button>
      <button class="button is-danger" (click)="addButton = !addButton">Annuler</button>
    </form>
  </div>
</div>

<div class="columns">
  <div class="card" *ngFor="let item of budgets">
    <a [routerLink]="[item.id]">
      <div class="card-header">
        <p class="card-header-title">{{item.name}}</p>
      </div>
      <div class="card-content">
        <p>Détails du budget ...</p>
        <table class="table">
          <tr>
            <th>solde initial</th>
            <th>total entrées</th>
            <th>total sorties</th>
            <th>Somme</th>
          </tr>

          <tr>
            <td>{{item.sum}}</td>
            <td>{{item.totalInput}}</td>
            <td>{{item.totalOutput}}</td>
            <td>{{item.sum + item.total}}</td>
          </tr>
        </table>
      </div>
    </a>
  </div>
</div>