.title {
  margin: 3% 0 ;
}

.total-table {
  margin: 5% 20%;
  width: 60%;
}

#total-input {
  color: #18F051;
}

#total-output {
  color: #F0181F;
}

#total-sum {
  font-weight: bolder; 
}

.operation-table {
  width: 100%;
}
.tags {
border-radius: 30px;
width: 100%;
padding: 0% 25% 0% 25%;
margin-bottom: 5%;
background-color: rgb(75, 74, 74);
text-decoration: none;
color: white;
text-align: center;
}
thead{
  background-color: #080121;
}
thead th{
  color: white;
}

tr:hover{
background-color: #060118;
color: white;
font-weight: bold;
}

tr {
  text-align: center;
}

/* FORM */
.control {
  margin-top: 5%;
}

.submit-btn {
  margin-top: 2%;
  margin-bottom: 10%;
  background-color: #080121;
  color: white;
  width: 100%;
}

.edit-btn{
  background-color: #080121;
  color: white;
  border: none; 
  width: 100%;
  height: 100%;
}

.delete-btn{
  background-color: #AB0C0B;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
}